@model CentralCity.Models.ForumView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forum Page";
    ViewBag.Head = "Central City Forums";
}

<section>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Topic
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TopicName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MessageDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MessageDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
